<!-- <section type="info" label="MessageDocumentation"
         contextHelp="This section allows you to modify x-totvs message documentation of an API."
         [collaborationNodePath]="[ '/info/version', '/info/name' ]"
         [validationModels]="[xtotvs()]" [validationProperties]="['version', 'name']" [validationShallow]="true">
    <span actions></span>
    <div body> -->
        <!-- TODO: Vincular corretamente com o model-->
        <!-- Name -->
        <!-- <div class="section-field-label">
            <validation-problem [model]="xtotvs()" property="name" [shallow]="true"></validation-problem>
            <span>Name</span>
        </div>
        <div class="section-field name">
            <inline-markdown-editor [value]="name()"
                                    [labelClass]="'api-name api-item-name'"
                                    [formClass]="'api-name-editor-form'"
                                    [inputClass]="'api-item-editor api-name-editor api-name api-item-name'"
                                    [baseNode]="xtotvs()" nodePath="name"
                                    [noValueMessage]="'No name.'" (onChange)="onNameChange($event)"></inline-markdown-editor>
        </div> --> 
        
    <!-- </div>
</section> -->
