<section type="info" label="X-Totvs"
         contextHelp="This section allows you to modify the XTOTVS of API info."
         [collaborationNodePath]="[ '/info/version', '/info/description' ]">
         <!-- [validationModels]="[info()]" [validationProperties]="['version', 'description']" [validationShallow]="true">-->
    <span actions></span>
    <div body>
        <!-- Specific Totvs INFO about this message -->
        <!-- <message-documentation-section [document]="document"></message-documentation-section> -->
    </div>
</section>
